{% style %}

  ul {
  --icon-size: 1.5em;
  list-style: none;
  padding: 0;
}

li {
  padding-left: calc( var(--icon-size) * .8 );
}

li:before {
  content: "\e920";
  font-family: "maxxus-font";
  display: inline-block;

  width: calc( var(--icon-size) * .8 );
  font-size: var(--icon-size);
  line-height: 1;
  vertical-align: middle;
}
  
{% endstyle %}
{% if settings.footer_logo != blank %}
  {{
    settings.footer_logo
    | image_url: width: 1100
    | image_tag: loading: 'lazy', widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100', width: settings.image_width
  }}
{% endif %}
<ul class="footer-contact">
  <li class="locator">
    <span>MAXXUS GROUP GmbH & Co. KG<br>
    Nordring 80<br>
    64521 Groß-Gerau</span>
  </li>
</ul>
