{% style %}


ul.footer-contact {
  --icon-space: 3.5rem;
  list-style: none;
  padding: 0;
}

ul.footer-contact li {
  padding-left: var(--icon-space);
}

ul.footer-contact li:before {
  font-family: "maxxus-font";
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
  font-size: 1.5em;
  line-height: 1;
  vertical-align: middle;
  margin-right: -.2em;
}
ul.footer-contact li.locator:before{
  content: "\e920";
}
  ul.footer-contact li.phone:before{
   content: "\e90e";
}
  
{% endstyle %}
{% if settings.footer_logo != blank %}
  {{
    settings.footer_logo
    | image_url: width: 1100
    | image_tag: loading: 'lazy', widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100', width: settings.image_width
  }}
{% endif %}
<ul class="footer-contact">
  <li class="locator">
    <span>MAXXUS GROUP GmbH & Co. KG<br>
    Nordring 80<br>
    64521 Groß-Gerau</span>
  </li>
  <li class="phone">
    {{ shop.phone }}
  </li>
</ul>
