
{% if settings.footer_logo != blank %}

{{
                            settings.footer_logo
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              width: settings.image_width
                          }}
 
{% endif %}
 <ul>
    <li>
     <i class="maxxus-locator"></i>MAXXUS GROUP GmbH & Co. KG<br>
Nordring 80<br>
64521 Groß-Gerau
    </li>
  </ul>