{% style %}

ul {
  --icon-size: 1.5em;
  --gutter: .5em;
  padding: 0 0 0 var(--icon-size);
}

ul li {
  padding-left: var(--gutter);
}

ul li.locator::marker {
  line-height: 1;
   content: "\e920";
  font-family: maxxus-font;
  font-size: var(--icon-size);
}

  
{% endstyle %}
{% if settings.footer_logo != blank %}
  {{
    settings.footer_logo
    | image_url: width: 1100
    | image_tag: loading: 'lazy', widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100', width: settings.image_width
  }}
{% endif %}
<ul class="footer-contact">
  <li class="locator">
    MAXXUS GROUP GmbH & Co. KG<br>
    Nordring 80<br>
    64521 Groß-Gerau
  </li>
</ul>
