{% schema %}
{
  "name": "Custom product grid",
  "settings": [],
  "presets": [
    {
      "name": "Custom product grid"
    }
  ]
}
{% endschema %}


<div class="page-width">
  <div class="custom-grid">
  </div>
</div>