{% schema %}
{
  "name": "Featured Collections",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Featured collections"
    }
  ],
  "presets" : [{
    "name" : "Featured Collections"
  }],
   "blocks": [
  {
    "name": "Collection",
    "type": "featured_collection",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
  }
]
}
{% endschema %}

<div class="page-width">
  <h2>{{ section.settings.section_title }}</h2>
  {% for block in section.blocks %}


  {%- case block.type -%}
                  {%- when 'featured_collection' -%}
      
      <a href="/collections/{{ block.settings.collection.url }}" class="btn">
        <h3>{{ block.settings.title }}</h3>
      <p>{{ block.settings.description }}</p>
      </a>

    {%- endcase  -%}
    
  {% endfor %}
</div>