{% schema %}
{
  "name": "Product Tabs",
  "settings": [],
  "presets" : [{
    "name" : "Product Tabs"
  }]
}
{% endschema %}

{% stylesheet %}
  .product-tabs-items-list{
    display: flex;
  
  }
  .product-tabs-items-list, .product-tab-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .product-tab-link{
    display: block;
    padding: .5em 2em;
    background-color: silver;
    color: black;
    text-decoration: none;
  }
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="page-width">
  <div class="product-tabs">
    <ul class="product-tabs-items-list">
      <li class="product-tab-item">
        <a class="product-tab-link" href="#">Popis</a>
      </li>
      <li>
        <a class="product-tab-link" href="#">Technická specifikace</a>
      </li>
      <li>
        <a class="product-tab-link" href="#">Recenze</a>
      </li>
    </ul>
  </div>
</div>
