{% schema %}
{
  "name": "Product Tabs",
  "settings": [],
  "presets" : [{
    "name" : "Product Tabs"
  }]
}
{% endschema %}

{% stylesheet %}
  .product-tabs-items-list{
    list-tyle-type: none;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<div class="page-widht">
  <div class="product-tabs">
    <ul class="product-tabs-items-list">
      <li class="product-tab-item">
        <a class="product-tab-link" href="#">Popis</a>
      </li>
      <li>
        <a class="product-tab-link" href="#">Technická specifikace</a>
      </li>
      <li>
        <a class="product-tab-link" href="#">Recenze</a>
      </li>
    </ul>
  </div>
</div>
