{% schema %}
{
  "name": "Product Tabs",
  "settings": [],
  "presets" : [{
    "name" : "Product Tabs"
  }],
  "blocks": [
  {
    "type": "@app"
  }
]
}
{% endschema %}

{% stylesheet %}
  .product-tabs{
    padding-top: 3rem;
    padding-bottom: 3rem;

  }
  .product-tabs-items-list{
    display: flex;

  }
  .product-tabs-items-list, .product-tab-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .product-tab-item{
    margin-right: .5em;
  }
  .product-tab-link{
    display: block;
    min-height: 47px;
    display: flex;
    align-items: center;
    padding: .5em 2em;
    background-color: #f6f6f6;

    color: black;
    text-decoration: none;
    border-top: 1px solid #f6f6f6;
    border-left: 1px solid #f6f6f6;
    border-right: 1px solid #f6f6f6;
  }
  .product-tab-link.active{
    color: #0073fe;

    box-shadow: inset 0px 5px 0px 0px #0073fe;
    background-color: white;
  }
  .product-tab-content{
    display: none;
  }
  .product-tab-content.active{
    display: block;
  }
  .product-tab-contents{
    border: 1px solid #f6f6f6;
    padding: 1em;
  }
{% endstylesheet %}

{% javascript %}
  function deselectOther(links, contents){
    links.forEach(function(link){
      link.classList.remove("active");
    });
    contents.forEach(function(link){
      link.classList.remove("active");
    });
  }

  var links = document.querySelectorAll(".product-tab-link");
  var contents = document.querySelectorAll(".product-tab-content");

  links.forEach(function(link){
    link.addEventListener("click", function(e){
      e.preventDefault();
      deselectOther(links, contents);

      e.target.classList.add("active");

      console.log(e.target.dataset.targetid);


      var target = document.getElementById(e.target.dataset.targetid);

      target.classList.add("active");

      console.log(e);
    });
  });
{% endjavascript %}

<div class="page-width">
  <div class="product-tabs">
    <ul class="product-tabs-items-list">
      <li class="product-tab-item">
        <a class="product-tab-link active" data-targetid="js__product-desc" href="#">Popis</a>
      </li>
      <li class="product-tab-item">
        <a class="product-tab-link" data-targetid="js__product-spec" href="#">Technická specifikace</a>
      </li>
      <li class="product-tab-item">
        <a class="product-tab-link" data-targetid="js__product-revs" href="#">Recenze</a>
      </li>
    </ul>
    <div class="product-tab-contents">
      <div class="product-tab-content active" id="js__product-desc">
        {{ product.description }}
      </div>
       <div class="product-tab-content active app__easy-specs-container" id="js__product-spec">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>
