{% schema %}
{
  "name": "Product Tabs",
  "settings": [],
  "presets" : [{
    "name" : "Product Tabs"
  }]
}
{% endschema %}

{% stylesheet %}
  .product-tabs-items-list{
    display: flex;
  
  }
  .product-tabs-items-list, .product-tab-item{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .product-tab-link{
    display: block;
    padding: .5em 2em;
    background-color: silver;
    color: black;
    text-decoration: none;
  }
  .product-tab-link.active{
    background-color: red;
  }
  
{% endstylesheet %}

{% javascript %}

  function deselectOther(links){
    links.forEach(function(link){
      link.classList.remove("active");
    }
  }


  var links = document.querySelectorAll(".product-tab-link");
  
  links.forEach(function(link){
    link.addEventListener("click", function(e){
      e.preventDefault();

      deselectOther(links);

      e.curentTarget.classList.add("active")
      console.log(e);
    });
  });
  
{% endjavascript %}

<div class="page-width">
  <div class="product-tabs">
    <ul class="product-tabs-items-list">
      <li class="product-tab-item">
        <a class="product-tab-link" data-target-id="js__product-desc" href="#">Popis</a>
      </li>
      <li>
        <a class="product-tab-link" data-target-id="js__product-spec" href="#">Technická specifikace</a>
      </li>
      <li>
        <a class="product-tab-link" data-target-id="js__product-revs" href="#">Recenze</a>
      </li>
    </ul>
  </div>
</div>
