{% schema %}
{
  "name": "USP Bar",

  "presets" : [{
    "name" : "USP Bar"
  }],
   "blocks": [
  {
    "name": "USP Item",
    "type": "usp_item",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
  }
]
}
{% endschema %}

{% javascript %}
  const carousel = new Glide('.carousel').mount();
  
{% endjavascript %}

<div class="carousel">
  <div data-glide-el="track">
    <ul>
      
      {% for block in section.blocks %}
        {%- case block.type -%}
          {%- when 'usp_item' -%}
            <li>{{ block.settings.text }}</li>
        {%- endcase -%}
      {% endfor %}
    </ul>
  </div>
</div>
