{% schema %}
{
  "name": "USP Bar",

  "presets" : [{
    "name" : "USP Bar"
  }],
   "blocks": [
  {
    "name": "USP Item",
    "type": "usp_item",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
  }
]
}
{% endschema %}

<div class="usp_container">
  <div class="page-width">
    <div class="glide">
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--leftt" data-glide-dir="|<"><i class="maxxus-arrow-left"></i></button>
      </div>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'usp_item' -%}
              <li class="glide__slide"><div class="usp_item">{{ block.settings.text }}</div></li>
            {%- endcase -%}
          {%- endfor -%}
        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--right" data-glide-dir="|>"><i class="maxxus-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
{% stylesheet %}
   .usp_container{
     background-color: silver;

   }
   .glide{

    display: flex;
     gap: 2rem;
     align-items: center;
   }
   .glide__track{

   flex-grow: 1;
   }
   .glide__arrow{
     background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

   }
  .usp_item{
    font-size: 1.3rem;
    
  }
{% endstylesheet %}

{% javascript %}
  const carousel = new Glide('.glide', {
    type: "carousel",

    breakpoints: {
      700: {
        perView: 1,
      },
      1000: {
        perView: 2,
      }
    }
  }).mount();
{% endjavascript %}
