{% schema %}
{
  "name": "USP Bar",

  "presets" : [{
    "name" : "USP Bar"
  }],
   "blocks": [
  {
    "name": "USP Item",
    "type": "usp_item",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
  }
]
}
{% endschema %}

{% javascript %}
  const carousel = new Glide('.carousel').mount();
{% endjavascript %}

{% for block in section.blocks %}
  <div class="carousel">
  {%- case block.type -%}
    {%- when 'usp_item' -%}
      <div>{{ block.settings.text }}</div>
  {%- endcase -%}
  </div>
{% endfor %}
