{% schema %}
{
  "name": "USP Bar",

  "presets" : [{
    "name" : "USP Bar"
  }],
   "blocks": [
  {
    "name": "USP Item",
    "type": "usp_item",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
  }
]
}
{% endschema %}
{% stylesheet %}
  .usp_container{
    background-color: silver;
  }
{% endstylesheet %}

{% javascript %}
  const carousel = new Glide('.glide').mount();
{% endjavascript %}
<div class="usp_container">
<div class="page-width">
  <i class="maxxus-arrow-left control-left"></i>
  <div class="glide">
    <div class="" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">USP 1 Lorem ipsum</li>
        <li class="glide__slide">USP 2 Lorem ipsum</li>
        <li class="glide__slide">USP 3 Lorem ipsum</li>
      </ul>
    </div>
  </div>
  <i class="maxxus-arrow-right control-right"></i>
</div>
</div>