{% schema %}
{
  "name": "USP Bar",

  "presets" : [{
    "name" : "USP Bar"
  }],
  "settings": [
    {
      "id": "autoplay",
      "type": "number",
      "label" :"Autoplay Time in seconds (0 is disabled)"
    }
  ],
   "blocks": [
  {
    "name": "USP Item",
    "type": "usp_item",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        },
      {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
  }
]
}
{% endschema %}

<div class="usp_container">
  <div class="page-width">
    <div class="glide">
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--leftt" data-glide-dir="|<"><i class="maxxus-arrow-left"></i></button>
      </div>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'usp_item' -%}
              <li class="glide__slide"><div class="usp_item">{% if block.settings.icon%}<div class="ups_item_image_wrapper">{{ block.settings.icon | image_url: width: 30 | image_tag }}</div>{% endif %}{{ block.settings.text }}</div></li>
            {%- endcase -%}
          {%- endfor -%}
        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--right" data-glide-dir="|>"><i class="maxxus-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
{% stylesheet %}
   .usp_container{
     background-color: #f0f0f0;
      padding: .5rem 0;
     
     
   }
   .glide{

    display: flex;
     gap: 2rem;
     align-items: center;
   }
   .glide__track{

   flex-grow: 1;
   }
   .glide__arrow{
     background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
opacity: .5;
   }
  .glide__arrow:hover{
    opacity: .7;
  }
  .usp_item{
    width: 100%;
    font-size: 1.3rem;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .ups_item_image_wrapper{
    width: 2.3rem;
    
    
  }
  .ups_item_image_wrapper img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    
  }
  
{% endstylesheet %}

{% javascript %}
  const carousel = new Glide('.glide', {
    type: "carousel",
    perView: 2,
    breakpoints: {
      700: {
        perView: 1,
      },
      1000: {
        perView: 2,
      },
      {% if section.settings.autoplay > 0 %}
      autoplay: {{section.settings.autoplay}} * 1000
      {% endif %}
  
    }
  }).mount();
{% endjavascript %}
