{% schema %}
{
  "name": "USP Bar",

  "presets" : [{
    "name" : "USP Bar"
  }],
   "blocks": [
  {
    "name": "USP Item",
    "type": "usp_item",
    "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
  }
]
}
{% endschema %}

<div class="usp_container">
  <div class="page-width">
    
    <div class="glide">
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--leftt" data-glide-dir="<"><i class="maxxus-arrow-left"></i></button>
      </div>
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">USP 1 Lorem ipsum</li>
          <li class="glide__slide">USP 2 Lorem ipsum</li>
          <li class="glide__slide">USP 3 Lorem ipsum</li>
        </ul>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i class="maxxus-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
{% stylesheet %}
  .usp_container{
    background-color: silver;

  }
  .glide{
   
display: flex
  }
  .glide__track(
  flex-grow: 1;
  )
{% endstylesheet %}

{% javascript %}
  const carousel = new Glide('.glide').mount({
    classes: {

    direction: {
    ltr: 'control-left',
    rtl: 'control-right'
  },
    }
  });
{% endjavascript %}
